<a href="https://colab.research.google.com/github/mattdiaz14/BTE-320/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r=3
h=10
pi=3.14
area = 2 * pi * r ** 2 + 2 * pi * r * h
print(area)

244.92000000000002

In [ ]:
p1 = input('Choose: Rock, Paper, Scissor: ')
p2 = input('Choose: Rock, Paper, Scissor: ')
if p1 == p2:
  print('Draw')
elif p1 == 'Rock' and p2 == 'Scissor':
  print('Player 1 win')
elif p1 == 'Paper' and p2 == 'Rock':
  print('Player 1 win')
elif p1 == 'Scissor' and p2 == 'Paper':
  print('Player 1 win')
else:
  print('Player 2 win')

Choose: Rock, Paper, Scissor: rock
Choose: Rock, Paper, Scissor: rock
Draw

In [ ]:
n1 = float(input('Enter number 1: '))
n2 = float(input('Enter number 2: '))
symbol = input('Enter symbol: ')
if symbol == '+':
  print(n1 + n2)

elif symbol == '-':
  print(n1 - n2)

elif symbol == '*':
  print(n1 * n2)

elif symbol == '/':
  print(n1 / n2)

else: symbol == '**'
print(n1 ** n2)

Enter number 1: 2
Enter number 2: 2
Enter symbol: +
4.0
4.0

In [ ]:
flateRate = 5
hourlyRate = 2.5

for hour in range (1 , 9, 1):
  charge = flateRate + (hourlyRate * hour)
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(hour, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
for ad in range (0, 201, 25):
  additional = 2 * ad ** 0.5
  profit = (20 + additional) * 10 - 200 - ad
  print(ad, profit)

0 0.0
25 75.0
50 91.42135623730951
75 98.20508075688781
100 100.0
125 98.60679774997897
150 94.94897427831779
175 89.57513110645903
200 82.84271247461902

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:

annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))


portion_down_payment = 0.25
current_savings = 0.0
r = 0.04


down_payment = total_cost * portion_down_payment


monthly_salary = annual_salary / 12


months = 0


while current_savings < down_payment:
    current_savings += (current_savings * r / 12) + (monthly_salary * portion_saved)
    months += 1


print("Number of months:", months)

Enter your annual salary: 250000
Enter the percent of your salary to save, as a decimal: .35
Enter the cost of your dream home: 2000000
Number of months: 62

In [ ]:

annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))
semi_annual_raise = float(input("Enter the semi-annual raise, as a decimal: "))


portion_down_payment = 0.25
current_savings = 0.0
r = 0.04


down_payment = total_cost * portion_down_payment


monthly_salary = annual_salary / 12


months = 0


while current_savings < down_payment:
    current_savings += (current_savings * r / 12) + (monthly_salary * portion_saved)
    months += 1


    if months % 6 == 0:
        annual_salary += annual_salary * semi_annual_raise
        monthly_salary = annual_salary / 12


print("Number of months:", months)

Enter your annual salary: 120000
Enter the percent of your salary to save, as a decimal: .05
Enter the cost of your dream home: 500000
Enter the semi-annual raise, as a decimal: .03
Number of months: 142

In [ ]:

def range_check(number, low, high, mode='print'):
    if mode == 'print':
        if low <= number <= high:
            print(f"{number} is within the range {low} and {high}.")
        else:
            print(f"{number} is NOT within the range {low} and {high}.")
    elif mode == 'boolean':
        return low <= number <= high
    else:
        print("Invalid mode! Please use 'print' or 'boolean'.")


number = float(input("Enter the number: "))
low = float(input("Enter the low end of the range: "))
high = float(input("Enter the high end of the range: "))
mode = input("Enter 'print' to print result or 'boolean' to return boolean: ").lower()


if mode == 'boolean':
    is_in_range = range_check(number, low, high, mode='boolean')
    if is_in_range:
        print(f"{number} is within the range {low} and {high}.")
    else:
        print(f"{number} is NOT within the range {low} and {high}.")
else:
    range_check(number, low, high, mode='print')

In [ ]:
# Function that either prints or returns a boolean based on the mode
def range_check(number, low, high, mode='print'):
    if mode == 'print':
        if low <= number <= high:
            print(f"{number} is within the range {low} and {high}.")
        else:
            print(f"{number} is NOT within the range {low} and {high}.")
    elif mode == 'boolean':
        return low <= number <= high
    else:
        print("Invalid mode! Please use 'print' or 'boolean'.")

# Collect inputs from the user
number = float(input("Enter the number: "))
low = float(input("Enter the low end of the range: "))
high = float(input("Enter the high end of the range: "))
mode = input("Enter 'print' to print result or 'boolean' to return boolean: ").lower()

# Use the function
if mode == 'boolean':
    is_in_range = range_check(number, low, high, mode='boolean')
    if is_in_range:
        print(f"{number} is within the range {low} and {high}.")
    else:
        print(f"{number} is NOT within the range {low} and {high}.")
else:
    range_check(number, low, high, mode='print')

In [ ]:
def range_check(num, low, high) :
  if num >= low and num <= high :
    return True
  else :
    return False
print(range_check(num=2,low=1,high=3))

True

In [1]:
def calcfee(hours):
  fee = 5 + hours * 2.5
  return fee

hours_parked = int(input('Enter hours of parking: '))
f = calcfee(hours_parked)
print(f)

Enter hours of parking: 4
15.0

In [6]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[:-1])
    return rev(s[1:]) + s[0]
    return s[-1] + rev(s[:-1]) + s[0]

rev('Halloween')

'neewollaH'

In [ ]:
def wAVG(L,w):
  res = []
  try:
    for i in range(len(L)):
      res.append(L[i]*w[i])
    return sum(res)/sum(w)
  except ZeroDivisionError:
    print('Division by zero.')
    return []
  except TypeError:
    print('Non-numerical objects found.')
    return []
  except Exception as e:
    print(f'Unknown error: {e}')
    return float('nan')

wAVG([1,2,3], [.2,0,-.2])

Division by zero.

[]

In [8]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def __repr__(self) :
     return f'Name: {self.name}.'

In [10]:
s1 = Student('James Bond', '007')
s2 = Student('Clark Kent', '333')

In [12]:
print(s1)

Name: James Bond.